LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

LOCATE COMP "rst" SITE "R7";
INPUT PORT "rst" IO_TYPE=LVCMOS33;

LOCATE COMP "led" SITE "A12"; // blue
IOBUF PORT "led" IO_TYPE=LVCMOS25;

// A12 -> blue
// A11 -> green
// B11 -> red
